body {
    min-width: 500px;
    background: url("https://quezzle.se/img/1st_bg.jpg") center center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.wrap-nav {
    position: absolute;
    top: 0px;
}

nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

dropdown-menu li a {
    background-color: transparent;
}

.navbar-default .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-brand {
    background-image: url("https://quezzle.se//img/escape-room-stockholm.svg");
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-default .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-default .navbar-toggler {
    border: 1px solid white;
}
@media only screen and (min-width: 992px) {
    #about .vert{
        height: 150px;
    }
}
@media only screen and (max-width: 992px) {
    nav li a {
        font-size: smaller;
    }
    nav img {
        width: 90%;
    }
    #about .vert{
        height: 250px;
    }
}
@media only screen and (max-width: 768px) {
    #about .vert{
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    #about .vert{
        height: 500px;
    }
}
