body{
    position: relative;
    background: url(images/bg_purp.jpg) no-repeat fixed center top;
    background: url("https://quezzle.se/img/1st_bg.jpg") no-repeat fixed center top;
    background-size: cover;
    /* background-image:url("https://quezzle.se/img/1st_bg.jpg")  no-repeat ; */
}

nav li a{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; 
    text-transform: uppercase;
    font-weight: bold; 
}

@media screen and (max-width: 960px) {
            nav li a{ 
                font-size: smaller;
            }
            nav img{
                width: 90px;
            }
}
.navbar-default .navbar-nav .nav-link {
    color: rgba(255,255,255,1);

}
.navbar-toggle {
    /* background-color: rgba(75,26,68,.4);
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px; */
}
header{
    background-image: url("https://quezzle.se/img/header-bg.jpg");
    background-size: cover;
}
